

<div class="ratesListing roomsView ">
  <div class="roomTypeLineItem" data-slnm-ihg="KVUG">
    <div class="headerWrapper">
      <div class="photoViewerWrapper en" data-slider-target="slider_KVUG" data-carousel-target="carousel_KVUG" data-container-target="flex_container_KVUG" data-slnm-ihg="slider_KVUG">
        <img src="//ihg.scene7.com/is/image/ihg/intercontinental-nha-trang-4040348625-4x3?wid=200" data-slnm-ihg="primaryImageSID">
        <span>
        <a class="viewGalleryLink viewGalleryLink_ic lang_en" href="#" data-slnm-ihg="viewGalleryLinkSID" title="View Gallery"> View Gallery
        </a></span>
        <ul class="photourlData hide">
          <ol class="photoURL">
            <li data-photo-type="photo" data-photo-name="" data-room-description="1 KING BED DELUXE OCEAN VIEW" data-photo-caption="Deluxe King Bed Ocean View" data-asset-counter="(1/4)" data-language-id="lang_en" class="notranslate">//ihg.scene7.com/is/image/ihg/intercontinental-nha-trang-4040348625-4x3</li>
            <li data-photo-type="photo" data-photo-name="" data-room-description="1 KING BED DELUXE OCEAN VIEW" data-photo-caption="Guest Bathroom" data-asset-counter="(2/4)" data-language-id="lang_en" class="notranslate">//ihg.scene7.com/is/image/ihg/intercontinental-nha-trang-4040413041-4x3</li>
            <li data-photo-type="photo" data-photo-name="" data-room-description="1 KING BED DELUXE OCEAN VIEW" data-photo-caption="Sofa" data-asset-counter="(3/4)" data-language-id="lang_en" class="notranslate">//ihg.scene7.com/is/image/ihg/intercontinental-nha-trang-4040413186-4x3</li>
            <li data-photo-type="photo" data-photo-name="" data-room-description="1 KING BED DELUXE OCEAN VIEW" data-photo-caption="Bathroom" data-asset-counter="(4/4)" data-language-id="lang_en" class="notranslate">//ihg.scene7.com/is/image/ihg/intercontinental-nha-trang-4040413157-4x3</li>
          </ol>
        </ul>
      </div>
      <div id="flex_container_KVUG" class="flexsliderContainer hide" data-slnm-ihg="flex_container_KVUG_SID">
        <div class="flexslider slider" id="slider_KVUG" data-slnm-ihg="flexslider_KVUG_SID">
          <div class="flexSliderclose lang_en" title="Close" alt="Close"></div>
          <ul class="slides">
          </ul>
        </div>
        <div class="flexCarousel flexslider" id="carousel_KVUG" data-slnm-ihg="flexcarousel_KVUG_SID">
          <ul class="slides">
          </ul>
        </div>
      </div>
      <span class="notranslate">
      <input name="bookingCodeForRow" value="KVUGIJWSP" type="hidden">
      </span>
      <span class="roomTypeDesc">
        <span class="notranslate">
        <a class="roomTypeDescriptionToggle">1 KING BED DELUXE OCEAN VIEW</a>
        </span>
        <div class="urgentMsgCss">
          <img class="urgentMsgImg roomrates_msg_urgent_clock" src="//prodcache.internal.ihg.com/content/dam/etc/media_library/branded/cn/images/transparent_1x1.gif" border="0">
          <span class="urgentMsgTxtCss">
          <span>
          Only <span class="sl_whiteout">1</span> room left!
          </span>
          </span>
        </div>
      </span>
      <span class="wheelchairAvail roomRateIcons">
      </span>
      <span class="maxPeoplePerRoom roomRateIcons">
      <img class="spotlightCustomToolTip maxPeoplePerRoomIcon roomrates_ico_person" alt="3 person(s) per room maximum" title="" src="//prodcache.internal.ihg.com/content/dam/etc/media_library/branded/cn/images/transparent_1x1.gif" border="0">
      <span class="rateDetailsMaxOccupancy">
      <span class="notranslate">
      3
      </span>
      </span>
      </span>
      <span class="smokingAllowed roomRateIcons">
      </span>
      <div class="roomRatesPrice">
        <span class="lowestRate rateSection">
          <span class="amtBase hide">
          <span class="notranslate">
          120.18
          </span>
          </span>
          <div id="fromPoints">
            <span class="notranslate">
            </span>
            <span class="rateTypeHeaderPoints roomTypeHeaderPoints " data-slnm-ihg="lowestPointValueInGroupSID">
            From <span><span class="sl_whiteout">15,000</span></span> points
            </span>
            <div class="using-points-cash">
              <span>using</span>
              <span>Points &amp; Cash</span>
            </div>
          </div>
          OR <span>‎</span> <span class="notranslate">
          <span class="cc_lrm">‎</span><span class="curSym currencySymbol cc_symbol">$</span>&nbsp;<span class="amt mainCurrencyUnitValue spotlightValue cc_number">120.18</span>&nbsp;<span class="curCode cc_code">USD</span><span class="hide cc_source">120.18</span>
          </span>
        </span>
        <span class="rateTypeLineItemDisplayLink"> <a title="View Rates" href="#">View Rates</a> <img class=" roomrates_btn_view_rates" alt="View Rates" title="View Rates" src="//prodcache.internal.ihg.com/content/dam/etc/media_library/branded/cn/images/transparent_1x1.gif" border="0"> </span>
      </div>
      <span class="notranslate">
      <span class="roomLongDescription">
      Arriving to your rm there is an immediate draw to the azure sea below gently lapping the shores of the pristine nha trang bay. Modern elegance interplays with seaside influences presenting luxury touches and a harmonious sense of space &amp; light. King bed private balcony. 40 to 50 meters.
      </span>
      <span style="clear: both;">
      </span>
      </span>
    </div>
    <div id="spotLightToolTip" class="hide helpLayer linkDesc spotlightTipHelpLayerOuter">
      <div class="spotlightTipLayerArrow"></div>
      <div class="spotlightTip"></div>
    </div>
  </div>
  <div class="rateTypeLineItems" style="display: none;">
    <div class="regularRates roomsView">
      <div class="rateTypeLineItem">
        <span class="notranslate">
        <input value="IJWSP" name="upsellParentRateCode" type="hidden">
        </span>
        <div class="upSellContainer" id="upsellContainer_0">
          <input name="originalRateCode" value="KVUGIJWSP" type="hidden">
          <div class="rateTypeLineItem rateTypeLineItemFixWidth">
            <div class="rateInfoArea">
              <div class="defaultRateInfo">
                <span class="rateHeader notranslate">
                Weekend Special
                </span>
                <ul>
                  <div>
                    <li>Non-Refundable Rate</li>
                  </div>
                  <div>
                    <li>Deposit required</li>
                  </div>
                  <div>
                    <li class="BREAKFAST_TWO_GUESTS">Breakfast included</li>
                  </div>
                </ul>
                <div class="expandedDetails" style="display: none;">
                  <div class="descriptionClose">
                    <a id="closeBtn" href="#" class="close" data-slnm-ihg="closeXIconSID"><img src="https://www.ihg.com/hotels/images/close_btn.gif" title="Select to close." alt="Select to close."></a>
                  </div>
                  <div style="clear: both;"></div>
                  <div class="expandedDetailsDesc"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="memberRateTypeContainer">
            <div class="memberRateTypeLineItem">
              <div class="clearingDiv"></div>
              <div id="priceInfoArea" class="priceInfoArea">
                <span class="mainRateDisplay">
                  <span class="price">
                  <span>‎</span>
                  <span class="notranslate">
                  <span class="cc_lrm">‎</span><span class="curSym cc_symbol">$</span>&nbsp;<span class="amt cc_number">126.50</span>&nbsp;<span class="curCode cc_code">USD</span><span class="hide cc_source">126.5</span>
                  </span>
                  </span>
                  <!-- For brazilian hotels the extra person charge should be displayed when the number of Adult guest is reached in at least one of
                    the rooms to reserve, so maxPersonsWithNoCharge = The number of person when the extra charge is applied minus one multipled by
                    the total of rooms to reserve. If this number is lower than the total of adult guest then the extra person charge must be
                    applied, therefore the label should be displayed -->
                </span>
                <br>
                <br>
              </div>
              <div class="clearingDiv"></div>
              <div class="avgratediv">
                <span class="avgrate">
                Nightly Rate
                </span>
              </div>
              <div class="baseRateInfo">
                <span class="spotlight_expandedDetails_link" id="upsell_base_member">
                <input name="originalRateCode" value="KVUGIJWSP" type="hidden">
                <a title="View Rate Details" id="KVUGIJWSP" class="viewRateDetails">View Rate Details</a>
                <span class="loading">
                <img src="//prodcache.internal.ihg.com/content/dam/etc/media_library/branded/ic/cn/loading/0002.gif" alt="Loading" title="Loading" width="16" height="16">
                </span>
                </span>
                <div class="expandedDetails" style="display: none;">
                  <div class="descriptionClose" data-slnm-ihg="closeXIconSID">
                    <a id="closeBtn" href="#" class="close"><img src="https://www.ihg.com/hotels/images/close_btn.gif" title="Select to close." alt="Select to close."></a>
                  </div>
                  <div style="clear: both;"></div>
                  <div class="expandedDetailsDesc"></div>
                </div>
              </div>
              <div class="rateSelectionArea">
                <img class=" roomRatesProcessImage hide" title="Loading indicator small" alt="Processing your request..." src="//prodcache.internal.ihg.com/content/dam/etc/media_library/branded/ic/cn/loading/0002.gif">
                <input class="cssButton bcic v bookThisRoomBaseRate translate" data-slnm-ihg="" title="Select to book this room" value="Book This Room" name="selectedRoom_KVUGIJWSP_1BD_0000_0_0_" type="submit">
              </div>
            </div>
            <script type="text/javascript">
              var js_member_exclusive_status="true";
            </script>
            <input name="memberOiginalRateCode" value="KVUGIKME5" type="hidden">
            <div class="memberRateTypeLineItemRight">
              <div id="memberPriceTitle">
                <span class="memberTitle">
                YOUR RATE by IHG® Rewards Club Weekend
                </span>
              </div>
              <div class="clearingDiv"></div>
              <div id="memberExclusivePriceInfoArea" class="priceInfoArea">
                <span class="priceBefore">
                <del class="curstrikethrough">
                <span class="price">
                <span>‎</span>
                <span class="notranslate">
                <span class="cc_lrm">‎</span><span class="curSym cc_symbol">$</span>&nbsp;<span class="amt cc_number">126.50</span>&nbsp;<span class="curCode cc_code">USD</span><span class="hide cc_source">126.5</span>
                </span>
                </span>
                </del>
                </span>
                <span class="mainRateDisplay">
                  <span class="price">
                  <span>‎</span>
                  <span class="notranslate">
                  <span class="cc_lrm">‎</span><span class="curSym cc_symbol">$</span>&nbsp;<span class="amt cc_number">120.18</span>&nbsp;<span class="curCode cc_code">USD</span><span class="hide cc_source">120.18</span>
                  </span>
                  </span>
                  <!-- For brazilian hotels the extra person charge should be displayed when the number of Adult guest is reached in at least one of
                    the rooms to reserve, so maxPersonsWithNoCharge = The number of person when the extra charge is applied minus one multipled by
                    the total of rooms to reserve. If this number is lower than the total of adult guest then the extra person charge must be
                    applied, therefore the label should be displayed -->
                  <div class="breakfastLabel">Member Discount</div>
                  <br><br>
                </span>
              </div>
              <div class="clearingDiv"></div>
              <div class="avgratediv">
                <span class="avgrate">
                Nightly Rate
                </span>
              </div>
              <div class="memberRateInfo">
                <span class="spotlight_expandedDetails_link" id="upsell_member">
                <input name="originalRateCode" value="KVUGIKME5" type="hidden">
                <a title="View Rate Details" id="KVUGIKME5" class="viewRateDetails">View Rate Details</a>
                <span class="loading">
                <img src="//prodcache.internal.ihg.com/content/dam/etc/media_library/branded/ic/cn/loading/0002.gif" alt="Loading" title="Loading" width="16" height="16">
                </span>
                </span>
                <div class="expandedDetails" style="display: none;">
                  <div class="descriptionClose">
                    <a id="closeBtn" href="#" class="close" data-slnm-ihg="closeXIconSID"><img src="https://www.ihg.com/hotels/images/close_btn.gif" title="Select to close." alt="Select to close."></a>
                  </div>
                  <div style="clear: both;"></div>
                  <div class="expandedDetailsDesc"></div>
                </div>
              </div>
              <div class="rateSelectionArea">
                <img class=" roomRatesProcessImage hide" title="Loading indicator small" alt="Processing your request..." src="//prodcache.internal.ihg.com/content/dam/etc/media_library/branded/ic/cn/loading/0002.gif">
                <input class="cssButton bc6c v bookThisRoomMemberRate translate" data-slnm-ihg="memberExclusiveRateBookRoom" title="Select to book this room" value="Book This Room" name="selectedRoom_KVUGIKME5_1BD_0000_0_0_" type="submit">
              </div>
            </div>
          </div>
        </div>
        <div class="clearingDiv"></div>
      </div>
    </div>
    <div class="regularRates roomsView">
      <div class="rateTypeLineItem">
        <span class="notranslate">
        <input value="IGCOR" name="upsellParentRateCode" type="hidden">
        </span>
        <div class="upsellHeader">
          <div class="bestFlexibleHeaderImage">
            <img class="spCheckboxImage" src="https://www.ihg.com/hotels/images/ic/icn_checkmark.png">
          </div>
          <div class="bestFlexibleHeaderText">
            <span class="bestFlexibleGroupHeader">
            <span class="notranslate">
            Best Flexible Rate
            </span>
            &amp; Deals
            </span>
            <span class="bestFlexibleSubtitle">
            Our Most Popular Rate
            </span>
          </div>
          <div class="tabVisibleArea">
            <div class="tabWrapper">
              <!--  the First name rate needs to come from the backend and other rate names need to come from properties filed -->
              <div class="roomrateTab active bestFlexibleTab" id="upsellHeader_0">
                Best Flexible Rate
                <br>
                <span class="price">
                <span>‎</span>
                <span class="notranslate">
                <span class="cc_lrm">‎</span><span class="curSym cc_symbol">$</span>&nbsp;<span class="amt cc_number">135.00</span>&nbsp;<span class="curCode cc_code">USD</span><span class="hide cc_source">135.0</span>
                </span>
                </span>
              </div>
              <div class="roomrateTab bestFlexibleTab" id="upsellHeader_1">
                Bonus Points <br> <span> Add <span class="price">
                <span>‎</span>
                <span class="notranslate">
                <span class="cc_lrm">‎</span><span class="curSym cc_symbol">$</span>&nbsp;<span class="amt cc_number">5.00</span>&nbsp;<span class="curCode cc_code">USD</span><span class="hide cc_source">5.0</span>
                </span>
                </span> </span>
              </div>
            </div>
          </div>
        </div>
        <div class="upSellContainer" id="upsellContainer_0">
          <input name="originalRateCode" value="KVUGIGCOR" type="hidden">
          <div class="rateTypeLineItem rateTypeLineItemFixWidth">
            <div class="rateInfoArea">
              <div class="defaultRateInfo">
                <ul>
                  <div>
                    <li>Non-Refundable Rate</li>
                  </div>
                  <div>
                    <li class="noDeposit ">No deposit required </li>
                  </div>
                  <div>
                    <li>
                      Most popular rate
                    </li>
                  </div>
                </ul>
                <div class="expandedDetails" style="display: none;">
                  <div class="descriptionClose">
                    <a id="closeBtn" href="#" class="close" data-slnm-ihg="closeXIconSID"><img src="https://www.ihg.com/hotels/images/close_btn.gif" title="Select to close." alt="Select to close."></a>
                  </div>
                  <div style="clear: both;"></div>
                  <div class="expandedDetailsDesc"></div>
                </div>
              </div>
            </div>
            <div class="rateInfoArea hide" id="rateInfo_KVUGIGBBB">
              <div class="upsellRateInfo">
                <div class="bestFlexibleTitle">
                  <span class="rateHeader notranslate">
                  Best Flexible with Breakfast
                  </span>
                </div>
                <ul>
                  <div>
                    <li>Non-Refundable Rate</li>
                  </div>
                  <div>
                    <li class="noDeposit ">No deposit required </li>
                  </div>
                  <div>
                    <li class="BREAKFAST_TWO_GUESTS">Breakfast included for up to 2 guests</li>
                  </div>
                  <div>
                    <li>
                      <span class="spotlight_expandedDetails_link" id="upsell_rate">
                      <input name="originalRateCode" value="KVUGIGBBB" type="hidden">
                      <a name="View Rate Details" title="View Rate Details" id="KVUGIGBBB" class="viewRateDetails">View Rate Details</a>
                      <span class="loading">
                      <img src="//prodcache.internal.ihg.com/content/dam/etc/media_library/branded/ic/cn/loading/0002.gif" alt="Loading" title="Loading" width="16" height="16">
                      </span>
                      </span>
                    </li>
                  </div>
                </ul>
                <div class="expandedDetails" style="display: none;">
                  <div class="descriptionClose" data-slnm-ihg="closeXIconSID">
                    <a id="closeBtn" href="#" class="close"><img src="https://www.ihg.com/hotels/images/close_btn.gif" title="Select to close." alt="Select to close."></a>
                  </div>
                  <div style="clear: both;"></div>
                  <div class="expandedDetailsDesc"></div>
                </div>
                <div class="rateDesc notranslate">
                  Includes breakfast for up to 2 adults sharing a room.   Perfect for travelers whose plans are subject to change.
                </div>
              </div>
            </div>
            <div class="rateInfoArea hide" id="rateInfo_KVUGIKME1">
              <div class="upsellRateInfo">
                <div class="bestFlexibleTitle">
                  <span class="rateHeader">
                  <span class="notranslate">
                  YOUR RATE by IHG® Rewards Club with Breakfast
                  </span>
                  </span>
                </div>
                <ul>
                  <div>
                    <li>Non-Refundable Rate</li>
                  </div>
                  <div>
                    <li class="noDeposit ">No deposit required </li>
                  </div>
                  <div>
                    <li class="BREAKFAST_TWO_GUESTS">Breakfast included for up to 2 guests</li>
                  </div>
                  <div>
                    <li>
                      <span class="spotlight_expandedDetails_link" id="upsell_rate">
                      <input name="originalRateCode" value="KVUGIKME1" type="hidden">
                      <a name="View Rate Details" title="View Rate Details" id="KVUGIKME1" class="viewRateDetails">View Rate Details</a>
                      <span class="loading">
                      <img src="//prodcache.internal.ihg.com/content/dam/etc/media_library/branded/ic/cn/loading/0002.gif" alt="Loading" title="Loading" width="16" height="16">
                      </span>
                      </span>
                    </li>
                  </div>
                </ul>
                <div class="expandedDetails" style="display: none;">
                  <div class="descriptionClose" data-slnm-ihg="closeXIconSID">
                    <a id="closeBtn" href="#" class="close"><img src="https://www.ihg.com/hotels/images/close_btn.gif" title="Select to close." alt="Select to close."></a>
                  </div>
                  <div style="clear: both;"></div>
                  <div class="expandedDetailsDesc"></div>
                </div>
                <div class="rateDesc">
                  <span class="notranslate">
                  Additional Savings for IHG® Rewards Club members. Full Breakfast for up to 2 adults when sharing a room.
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="memberRateTypeContainer">
            <div class="memberRateTypeLineItem">
              <div class="clearingDiv"></div>
              <div id="priceInfoArea" class="priceInfoArea">
                <span class="mainRateDisplay">
                  <span class="price">
                  <span>‎</span>
                  <span class="notranslate">
                  <span class="cc_lrm">‎</span><span class="curSym cc_symbol">$</span>&nbsp;<span class="amt cc_number">135.00</span>&nbsp;<span class="curCode cc_code">USD</span><span class="hide cc_source">135.0</span>
                  </span>
                  </span>
                  <!-- For brazilian hotels the extra person charge should be displayed when the number of Adult guest is reached in at least one of
                    the rooms to reserve, so maxPersonsWithNoCharge = The number of person when the extra charge is applied minus one multipled by
                    the total of rooms to reserve. If this number is lower than the total of adult guest then the extra person charge must be
                    applied, therefore the label should be displayed -->
                </span>
                <br>
                <br>
                <div class="breakfastOpt">
                  <input name="upsellRateCode" value="KVUGIGBBB" type="hidden">
                  <input id="rateInfo_KVUGIGBBB" name="checkbox" value="value" class="breakfastChk" type="checkbox">
                  <span class="price">
                  <span>‎</span>
                  <span class="notranslate">
                  <span class="cc_lrm">‎</span><span class="curSym cc_symbol">$</span>&nbsp;<span class="amt cc_number">5.00</span>&nbsp;<span class="curCode cc_code">USD</span><span class="hide cc_source">5.0</span>
                  </span>
                  </span>
                </div>
                <div class="breakfastLabel">Add Breakfast (up to 2 guests)</div>
                <div class="clearingDiv"></div>
                <hr class="_KVUGIGBBB hide">
                <span id="upsellTotal" class="upsellTotal_KVUGIGBBB hide">
                <span class="price">
                <span>‎</span>
                <span class="notranslate">
                <span class="cc_lrm">‎</span><span class="curSym cc_symbol">$</span>&nbsp;<span class="amt cc_number">140.00</span>&nbsp;<span class="curCode cc_code">USD</span><span class="hide cc_source">140.0</span>
                </span>
                </span>
                </span>
                <!-- For brazilian hotels the extra person charge should be displayed when the number of Adult guest is reached in at least one of
                  the rooms to reserve, so maxPersonsWithNoCharge = The number of person when the extra charge is applied minus one multipled by
                  the total of rooms to reserve. If this number is lower than the total of adult guest then the extra person charge must be
                  applied, therefore the label should be displayed -->
              </div>
              <div class="clearingDiv"></div>
              <div class="avgratediv">
                <span class="avgrate">
                Nightly Rate
                </span>
              </div>
              <div class="baseRateInfo">
                <span class="spotlight_expandedDetails_link" id="upsell_base_member">
                <input name="originalRateCode" value="KVUGIGCOR" type="hidden">
                <a title="View Rate Details" id="KVUGIGCOR" class="viewRateDetails">View Rate Details</a>
                <span class="loading">
                <img src="//prodcache.internal.ihg.com/content/dam/etc/media_library/branded/ic/cn/loading/0002.gif" alt="Loading" title="Loading" width="16" height="16">
                </span>
                </span>
                <div class="expandedDetails" style="display: none;">
                  <div class="descriptionClose" data-slnm-ihg="closeXIconSID">
                    <a id="closeBtn" href="#" class="close"><img src="https://www.ihg.com/hotels/images/close_btn.gif" title="Select to close." alt="Select to close."></a>
                  </div>
                  <div style="clear: both;"></div>
                  <div class="expandedDetailsDesc"></div>
                </div>
              </div>
              <div class="rateSelectionArea">
                <img class=" roomRatesProcessImage hide" title="Loading indicator small" alt="Processing your request..." src="//prodcache.internal.ihg.com/content/dam/etc/media_library/branded/ic/cn/loading/0002.gif">
                <input class="cssButton bcic v bookThisRoomBaseRate translate" data-slnm-ihg="" title="Select to book this room" value="Book This Room" name="selectedRoom_KVUGIGCOR_1BD_0000_0_0_" type="submit">
              </div>
            </div>
            <script type="text/javascript">
              var js_member_exclusive_status="true";
            </script>
            <input name="memberOiginalRateCode" value="KVUGIDME1" type="hidden">
            <div class="memberRateTypeLineItemRight">
              <div id="memberPriceTitle">
                <span class="memberTitle">
                YOUR RATE by IHG® Rewards Club
                </span>
              </div>
              <div class="clearingDiv"></div>
              <div id="memberExclusivePriceInfoArea" class="priceInfoArea">
                <span class="priceBefore">
                <del class="curstrikethrough">
                <span class="price">
                <span>‎</span>
                <span class="notranslate">
                <span class="cc_lrm">‎</span><span class="curSym cc_symbol">$</span>&nbsp;<span class="amt cc_number">135.00</span>&nbsp;<span class="curCode cc_code">USD</span><span class="hide cc_source">135.0</span>
                </span>
                </span>
                </del>
                </span>
                <span class="mainRateDisplay">
                  <span class="price">
                  <span>‎</span>
                  <span class="notranslate">
                  <span class="cc_lrm">‎</span><span class="curSym cc_symbol">$</span>&nbsp;<span class="amt cc_number">128.25</span>&nbsp;<span class="curCode cc_code">USD</span><span class="hide cc_source">128.25</span>
                  </span>
                  </span>
                  <!-- For brazilian hotels the extra person charge should be displayed when the number of Adult guest is reached in at least one of
                    the rooms to reserve, so maxPersonsWithNoCharge = The number of person when the extra charge is applied minus one multipled by
                    the total of rooms to reserve. If this number is lower than the total of adult guest then the extra person charge must be
                    applied, therefore the label should be displayed -->
                  <div class="breakfastLabel">Member Discount</div>
                  <br><br>
                  <div class="breakfastOpt">
                    <input name="memberUpsellRateCode" value="KVUGIKME1" type="hidden">
                    <input id="memberExclusiveRateInfo_KVUGIKME1" name="checkbox" value="value" class="memberBreakfastChk" type="checkbox">
                    <span class="price">
                    <span>‎</span>
                    <span class="notranslate">
                    <span class="cc_lrm">‎</span><span class="curSym cc_symbol">$</span>&nbsp;<span class="amt cc_number">4.75</span>&nbsp;<span class="curCode cc_code">USD</span><span class="hide cc_source">4.75</span>
                    </span>
                    </span>
                  </div>
                  <div class="breakfastLabel">Add Breakfast (up to 2 guests)</div>
                  <div class="clearingDiv"></div>
                  <hr class="memberExclusive_KVUGIKME1 hide">
                  <span id="upsellTotal" class="memberExclusiveUpsellTotal_KVUGIKME1 hide">
                  <span class="price">
                  <span>‎</span>
                  <span class="notranslate">
                  <span class="cc_lrm">‎</span><span class="curSym cc_symbol">$</span>&nbsp;<span class="amt cc_number">133.00</span>&nbsp;<span class="curCode cc_code">USD</span><span class="hide cc_source">133.0</span>
                  </span>
                  </span>
                  </span>
                  <!-- For brazilian hotels the extra person charge should be displayed when the number of Adult guest is reached in at least one of
                    the rooms to reserve, so maxPersonsWithNoCharge = The number of person when the extra charge is applied minus one multipled by
                    the total of rooms to reserve. If this number is lower than the total of adult guest then the extra person charge must be
                    applied, therefore the label should be displayed -->
                </span>
              </div>
              <div class="clearingDiv"></div>
              <div class="avgratediv">
                <span class="avgrate">
                Nightly Rate
                </span>
              </div>
              <div class="memberRateInfo">
                <span class="spotlight_expandedDetails_link" id="upsell_member">
                <input name="originalRateCode" value="KVUGIDME1" type="hidden">
                <a title="View Rate Details" id="KVUGIDME1" class="viewRateDetails">View Rate Details</a>
                <span class="loading">
                <img src="//prodcache.internal.ihg.com/content/dam/etc/media_library/branded/ic/cn/loading/0002.gif" alt="Loading" title="Loading" width="16" height="16">
                </span>
                </span>
                <div class="expandedDetails" style="display: none;">
                  <div class="descriptionClose">
                    <a id="closeBtn" href="#" class="close" data-slnm-ihg="closeXIconSID"><img src="https://www.ihg.com/hotels/images/close_btn.gif" title="Select to close." alt="Select to close."></a>
                  </div>
                  <div style="clear: both;"></div>
                  <div class="expandedDetailsDesc"></div>
                </div>
              </div>
              <div class="rateSelectionArea">
                <img class=" roomRatesProcessImage hide" title="Loading indicator small" alt="Processing your request..." src="//prodcache.internal.ihg.com/content/dam/etc/media_library/branded/ic/cn/loading/0002.gif">
                <input class="cssButton bc6c v bookThisRoomMemberRate translate" data-slnm-ihg="memberExclusiveRateBookRoom" title="Select to book this room" value="Book This Room" name="selectedRoom_KVUGIDME1_1BD_0000_0_0_" type="submit">
              </div>
            </div>
          </div>
        </div>
        <div class="upSellContainer hide" id="upsellContainer_1">
          <input name="originalRateCode" value="KVUGIGCOR" type="hidden">
          <div class="rateTypeLineItem rateTypeLineItemFixWidth">
            <div class="rateInfoArea" id="rateInfo_KVUGIKPCM">
              <div class="upsellRateInfo">
                <div class="bestFlexibleTitle">
                  <span class="rateHeader notranslate">
                  1,000 Bonus Point Package: 1,000 Bonus Points for Every Night
                  </span>
                </div>
                <ul>
                  <div>
                    <li>Non-Refundable Rate</li>
                  </div>
                  <div>
                    <li class="noDeposit ">No deposit required </li>
                  </div>
                  <div>
                    <li>
                      <span class="spotlight_expandedDetails_link" id="upsell_rate">
                      <input name="originalRateCode" value="KVUGIKPCM" type="hidden">
                      <a name="View Rate Details" title="View Rate Details" id="KVUGIKPCM" class="viewRateDetails">View Rate Details</a>
                      <span class="loading">
                      <img src="//prodcache.internal.ihg.com/content/dam/etc/media_library/branded/ic/cn/loading/0002.gif" alt="Loading" title="Loading" width="16" height="16">
                      </span>
                      </span>
                    </li>
                  </div>
                </ul>
                <div class="expandedDetails" style="display: none;">
                  <div class="descriptionClose" data-slnm-ihg="closeXIconSID">
                    <a id="closeBtn" href="#" class="close"><img src="https://www.ihg.com/hotels/images/close_btn.gif" title="Select to close." alt="Select to close."></a>
                  </div>
                  <div style="clear: both;"></div>
                  <div class="expandedDetailsDesc"></div>
                </div>
                <div class="rateDesc notranslate">
                  Exclusive to IHG® Rewards Club members. Earn Faster with this package offer - Earn 1,000 bonus IHG Rewards Club points for each night when you book th
                </div>
                <span class="spotlight_expandedDetails_link more" id="upsell_rate">
                <input name="originalRateCode" value="KVUGIKPCM" type="hidden">
                <a title="View Rate Details" id="KVUGIKPCM" class="viewRateDetails"></a>
                <span class="loading">
                <img src="//prodcache.internal.ihg.com/content/dam/etc/media_library/branded/ic/cn/loading/0002.gif" alt="Loading" title="Loading" width="16" height="16">
                </span>
                </span>
              </div>
            </div>
          </div>
          <div class="rateTypeContainer">
            <div class="rateTypeLineItemRight">
              <div class="clearingDiv"></div>
              <div id="priceInfoArea" class="priceInfoArea">
                <span class="mainRateDisplay">
                  <span class="price">
                  <span>‎</span>
                  <span class="notranslate">
                  <span class="cc_lrm">‎</span><span class="curSym cc_symbol">$</span>&nbsp;<span class="amt cc_number">135.00</span>&nbsp;<span class="curCode cc_code">USD</span><span class="hide cc_source">135.0</span>
                  </span>
                  </span>
                  <!-- For brazilian hotels the extra person charge should be displayed when the number of Adult guest is reached in at least one of
                    the rooms to reserve, so maxPersonsWithNoCharge = The number of person when the extra charge is applied minus one multipled by
                    the total of rooms to reserve. If this number is lower than the total of adult guest then the extra person charge must be
                    applied, therefore the label should be displayed -->
                </span>
                <br>
                <br>
                <div class="breakfastOpt">
                  <input name="upsellRateCode" value="KVUGIKPCM" type="hidden">
                  <span class="upSellPlus"></span>
                  <span class="price">
                  <span>‎</span>
                  <span class="notranslate">
                  <span class="cc_lrm">‎</span><span class="curSym cc_symbol">$</span>&nbsp;<span class="amt cc_number">5.00</span>&nbsp;<span class="curCode cc_code">USD</span><span class="hide cc_source">5.0</span>
                  </span>
                  </span>
                </div>
                <div class="breakfastLabel">Add 1000 Bonus Points per night</div>
                <div class="clearingDiv"></div>
                <hr class="_KVUGIKPCM">
                <span id="upsellTotal" class="upsellTotal_KVUGIKPCM">
                <span class="price">
                <span>‎</span>
                <span class="notranslate">
                <span class="cc_lrm">‎</span><span class="curSym cc_symbol">$</span>&nbsp;<span class="amt cc_number">140.00</span>&nbsp;<span class="curCode cc_code">USD</span><span class="hide cc_source">140.0</span>
                </span>
                </span>
                </span>
                <!-- For brazilian hotels the extra person charge should be displayed when the number of Adult guest is reached in at least one of
                  the rooms to reserve, so maxPersonsWithNoCharge = The number of person when the extra charge is applied minus one multipled by
                  the total of rooms to reserve. If this number is lower than the total of adult guest then the extra person charge must be
                  applied, therefore the label should be displayed -->
              </div>
              <div class="clearingDiv"></div>
              <div class="avgratediv">
                <span class="avgrate">
                Nightly Rate
                </span>
              </div>
              <div class="rateSelectionArea">
                <img class=" roomRatesProcessImage hide" title="Loading indicator small" alt="Processing your request..." src="//prodcache.internal.ihg.com/content/dam/etc/media_library/branded/ic/cn/loading/0002.gif">
                <input class="cssButton bcic v bookThisRoomBaseRate translate" data-slnm-ihg="" title="Select to book this room" value="Book This Room" name="selectedRoom_KVUGIKPCM_1BD_0000_0_0_" type="submit">
              </div>
            </div>
          </div>
        </div>
        <div class="clearingDiv"></div>
      </div>
    </div>
    <div class="regularRates roomsView">
      <div class="rateTypeLineItem ">
        <input name="memberRate" value="false" type="hidden">
        <input name="rateCodeValueForRow" value="IKME3" type="hidden">
        <input name="bookingCodeValueForRow" value="KVUGIKME3" type="hidden">
        <input id="roomCode" name="roomCode" value="KVUGIKME3" type="hidden">
        <input id="bedTypeCode" name="bedTypeCode" value="1BD" type="hidden">
        <input id="pointType" name="pointType" value="" type="hidden">
        <span style="display: none;"> Booking Code :
        <span class="notranslate">
        KVUGIKME3
        </span>
        </span>
        <div class="rateTypeLineItemLeft sortByRoomViewClass">
          <div class="rateInfoArea">
            <img class="bonusLogo roomrates_img_bonus_points" alt="Bonus points" title="Bonus points" src="//prodcache.internal.ihg.com/content/dam/etc/media_library/branded/cn/images/transparent_1x1.gif" border="0">
            <span class="rateCategory roomOrder">YOUR RATE by IHG® Rewards Club BONUS POINTS: 1,000 Bonus Points for Every Night</span>
            <input name="originalRateCategory" value="YOUR RATE by IHG® Rewards Club BONUS POINTS: 1,000 Bonus Points for Every Night" type="hidden">
            <ul>
              <div>
                <li>Non-Refundable Rate</li>
              </div>
              <div>
                <li class="noDeposit ">No deposit required </li>
              </div>
              <div>
                <li>
                  <span class="spotlight_expandedDetails_link" id="non_upsell">
                  <input name="originalRateCode" value="KVUGIKME3" type="hidden">
                  <a name="View Rate Details" title="View Rate Details" id="KVUGIKME3" class="viewRateDetails">View Rate Details</a>
                  <span class="loading">
                  <img src="//prodcache.internal.ihg.com/content/dam/etc/media_library/branded/ic/cn/loading/0002.gif" alt="Loading" title="Loading" width="16" height="16">
                  </span>
                  </span>
                </li>
              </div>
            </ul>
          </div>
        </div>
        <div class="rateTypeLineItemRight">
          <div class="priceInfoArea">
            <span class="price">
            <span>‎</span>
            <span class="notranslate">
            <span class="cc_lrm">‎</span><span class="curSym cc_symbol">$</span>&nbsp;<span class="amt cc_number">133.00</span>&nbsp;<span class="curCode cc_code">USD</span><span class="hide cc_source">133.0</span>
            </span>
            </span>
            <!-- For brazilian hotels the extra person charge should be displayed when the number of Adult guest is reached in at least one of
              the rooms to reserve, so maxPersonsWithNoCharge = The number of person when the extra charge is applied minus one multipled by
              the total of rooms to reserve. If this number is lower than the total of adult guest then the extra person charge must be
              applied, therefore the label should be displayed -->
            <div class="clearingDiv"></div>
            <div class="avgratediv">
              <span class="avgrate">
              Nightly Rate
              </span>
            </div>
          </div>
          <div class="clearingDiv"></div>
          <div class="rateSelectionArea">
            <img class=" roomRatesProcessImage hide" title="Loading indicator small" alt="Processing your request..." src="//prodcache.internal.ihg.com/content/dam/etc/media_library/branded/ic/cn/loading/0002.gif">
            <input class="cssButton bcic v bookThisRoomBaseRate translate" data-slnm-ihg="" title="Select to book this room" value="Book This Room" name="selectedRoom_KVUGIKME3_1BD_0000_0_0_lr" type="submit">
          </div>
        </div>
        <div style="clear: both"></div>
        <div class="expandedDetails" style="display: none;">
          <div class="descriptionClose">
            <a id="closeBtn" href="#" class="close" data-slnm-ihg="closeXIconSID"><img src="https://www.ihg.com/hotels/images/close_btn.gif" title="Select to close." alt="Select to close."></a>
          </div>
          <div style="clear: both;">
          </div>
          <div class="expandedDetailsDesc">
          </div>
        </div>
        <div style="clear: both"></div>
      </div>
    </div>
    <div class="regularRates roomsView">
      <div class="rateTypeLineItem ">
        <input name="memberRate" value="false" type="hidden">
        <input name="rateCodeValueForRow" value="IKHB2" type="hidden">
        <input name="bookingCodeValueForRow" value="KVUGIKHB2" type="hidden">
        <input id="roomCode" name="roomCode" value="KVUGIKHB2" type="hidden">
        <input id="bedTypeCode" name="bedTypeCode" value="1BD" type="hidden">
        <input id="pointType" name="pointType" value="" type="hidden">
        <span style="display: none;"> Booking Code :
        <span class="notranslate">
        KVUGIKHB2
        </span>
        </span>
        <div class="rateTypeLineItemLeft sortByRoomViewClass">
          <div class="rateInfoArea">
            <span class="rateCategory roomOrder">2000 POINTS PER STAY</span>
            <input name="originalRateCategory" value="2000 POINTS PER STAY" type="hidden">
            <ul>
              <div>
                <li>Non-Refundable Rate</li>
              </div>
              <div>
                <li class="noDeposit ">No deposit required </li>
              </div>
              <div>
                <li class="BREAKFAST_TWO_GUESTS">Breakfast included</li>
              </div>
              <div>
                <li>
                  <span class="spotlight_expandedDetails_link" id="non_upsell">
                  <input name="originalRateCode" value="KVUGIKHB2" type="hidden">
                  <a name="View Rate Details" title="View Rate Details" id="KVUGIKHB2" class="viewRateDetails">View Rate Details</a>
                  <span class="loading">
                  <img src="//prodcache.internal.ihg.com/content/dam/etc/media_library/branded/ic/cn/loading/0002.gif" alt="Loading" title="Loading" width="16" height="16">
                  </span>
                  </span>
                </li>
              </div>
            </ul>
          </div>
        </div>
        <div class="rateTypeLineItemRight">
          <div class="priceInfoArea">
            <span class="price">
            <span>‎</span>
            <span class="notranslate">
            <span class="cc_lrm">‎</span><span class="curSym cc_symbol">$</span>&nbsp;<span class="amt cc_number">152.00</span>&nbsp;<span class="curCode cc_code">USD</span><span class="hide cc_source">152.0</span>
            </span>
            </span>
            <!-- For brazilian hotels the extra person charge should be displayed when the number of Adult guest is reached in at least one of
              the rooms to reserve, so maxPersonsWithNoCharge = The number of person when the extra charge is applied minus one multipled by
              the total of rooms to reserve. If this number is lower than the total of adult guest then the extra person charge must be
              applied, therefore the label should be displayed -->
            <div class="clearingDiv"></div>
            <div class="avgratediv">
              <span class="avgrate">
              Nightly Rate
              </span>
            </div>
          </div>
          <div class="clearingDiv"></div>
          <div class="rateSelectionArea">
            <img class=" roomRatesProcessImage hide" title="Loading indicator small" alt="Processing your request..." src="//prodcache.internal.ihg.com/content/dam/etc/media_library/branded/ic/cn/loading/0002.gif">
            <input class="cssButton bcic v bookThisRoomBaseRate translate" data-slnm-ihg="" title="Select to book this room" value="Book This Room" name="selectedRoom_KVUGIKHB2_1BD_0000_0_0_" type="submit">
          </div>
        </div>
        <div style="clear: both"></div>
        <div class="expandedDetails" style="display: none;">
          <div class="descriptionClose">
            <a id="closeBtn" href="#" class="close" data-slnm-ihg="closeXIconSID"><img src="https://www.ihg.com/hotels/images/close_btn.gif" title="Select to close." alt="Select to close."></a>
          </div>
          <div style="clear: both;">
          </div>
          <div class="expandedDetailsDesc">
          </div>
        </div>
        <div style="clear: both"></div>
      </div>
    </div>
    <div class="regularRates roomsView">
      <div class="rateTypeLineItem spotlightPointsAndCash">
        <input name="memberRate" value="false" type="hidden">
        <input name="rateCodeValueForRow" value="IVANI" type="hidden">
        <input name="bookingCodeValueForRow" value="KVUGIVANI" type="hidden">
        <input id="roomCode" name="roomCode" value="KVUGIVANI" type="hidden">
        <input id="bedTypeCode" name="bedTypeCode" value="1BD" type="hidden">
        <input id="pointType" name="pointType" value="" type="hidden">
        <span style="display: none;"> Booking Code :
        <span class="notranslate">
        KVUGIVANI
        </span>
        </span>
        <div class="rateTypeLineItemLeft sortByRoomViewClass">
          <div class="bannerArea rewardRatesBanner"></div>
          <div class="rateInfoArea">
            <span class="rateCategory roomOrder">IHG<sup>®</sup> Rewards Club Reward Nights</span>
            <ul>
              <div>
                <li>Non-Refundable Rate</li>
              </div>
              <div>
                <li class="noDeposit ">No deposit required </li>
              </div>
              <div>
                <li data-slnm-ihg="pointscash-rate-note">Points + Cash bookings are charged immediately, and cancellations are refunded in points only.</li>
              </div>
              <div>
                <li>
                  <span class="spotlight_expandedDetails_link" id="non_upsell">
                  <input name="originalRateCode" value="KVUGIVANI" type="hidden">
                  <a name="View Rate Details" title="View Rate Details" id="KVUGIVANI" class="viewRateDetails">View Rate Details</a>
                  <span class="loading">
                  <img src="//prodcache.internal.ihg.com/content/dam/etc/media_library/branded/ic/cn/loading/0002.gif" alt="Loading" title="Loading" width="16" height="16">
                  </span>
                  </span>
                </li>
              </div>
            </ul>
          </div>
        </div>
        <div class="rateTypeLineItemRight">
          <div class="priceInfoArea">
            <div class="rewardNightContainer">
              <ul class="roomRateView" data-slnm-ihg="pointsAndCashOptionsSID">
                <li>
                  <label>
                  <input name="pointsTypeSel_5" value="0" checked="checked" data-slnm-ihg="pointsAndCashRadioSID" type="radio">
                  <span class="points notranslate" data-slnm-ihg="pointsAndCashPointsSID0">
                  25,000
                  </span>
                  <span class="sl_split">
                  points
                  </span>
                  <span class="sl_split">
                  per night
                  </span>
                  <input class="hdnPointsCashValue" value="25000" type="hidden">
                  <input class="hdnPointsTotalStay" value="25000" type="hidden">
                  </label>
                </li>
                <li>
                  <label>
                  <input name="pointsTypeSel_5" value="10000" data-slnm-ihg="pointsAndCashRadioSID" type="radio">
                  <span class="points notranslate" data-slnm-ihg="pointsAndCashPointsSID1">
                  20,000
                  </span>
                  <span class="sl_split">
                  points
                  </span>
                  + <span class="price notranslate" data-slnm-ihg="pointsAndCashPriceSID1">
                  $40.00
                  <span class="curCode">USD</span>
                  </span> <span class="pointsAndCashNotation">*</span>
                  <input class="hdnPointsCashValue" value="20000" type="hidden">
                  <input class="hdnPointsTotalStay" value="25000" type="hidden">
                  </label>
                </li>
                <li>
                  <label>
                  <input name="pointsTypeSel_5" value="20000" data-slnm-ihg="pointsAndCashRadioSID" type="radio">
                  <span class="points notranslate" data-slnm-ihg="pointsAndCashPointsSID2">
                  15,000
                  </span>
                  <span class="sl_split">
                  points
                  </span>
                  + <span class="price notranslate" data-slnm-ihg="pointsAndCashPriceSID2">
                  $70.00
                  <span class="curCode">USD</span>
                  </span> <span class="pointsAndCashNotation">*</span>
                  <input class="hdnPointsCashValue" value="15000" type="hidden">
                  <input class="hdnPointsTotalStay" value="25000" type="hidden">
                  </label>
                </li>
              </ul>
              <span class="pointsAndCashNote" data-slnm-ihg="pointsAndCashNoteSID">*
              <span class="sl_split">
              per night
              </span>
              </span>
            </div>
          </div>
          <div class="clearingDiv"></div>
          <div class="rateSelectionArea">
            <img class=" roomRatesProcessImage hide" title="Loading indicator small" alt="Processing your request..." src="//prodcache.internal.ihg.com/content/dam/etc/media_library/branded/ic/cn/loading/0002.gif">
            <input class="cssButton bcic v bookThisRoomBaseRate translate" data-slnm-ihg="" title="Select to book this room" value="Book This Room" name="selectedRoom_KVUGIVANI_1BD_0_0_25000_rw" type="submit">
          </div>
        </div>
        <div style="clear: both"></div>
        <div class="expandedDetails" style="display: none;">
          <div class="descriptionClose">
            <a id="closeBtn" href="#" class="close" data-slnm-ihg="closeXIconSID"><img src="https://www.ihg.com/hotels/images/close_btn.gif" title="Select to close." alt="Select to close."></a>
          </div>
          <div style="clear: both;">
          </div>
          <div class="expandedDetailsDesc">
          </div>
        </div>
        <div style="clear: both"></div>
      </div>
    </div>
    <div class="secondaryRates" style="display: none;">
      <div class="rateTypeLineItem ">
        <input name="memberRate" value="false" type="hidden">
        <input name="rateCodeValueForRow" value="IGCLB" type="hidden">
        <input name="bookingCodeValueForRow" value="KVUGIGCLB" type="hidden">
        <input id="roomCode" name="roomCode" value="KVUGIGCLB" type="hidden">
        <input id="bedTypeCode" name="bedTypeCode" value="1BD" type="hidden">
        <input id="pointType" name="pointType" value="" type="hidden">
        <span style="display: none;"> Booking Code :
        <span class="notranslate">
        KVUGIGCLB
        </span>
        </span>
        <div class="rateTypeLineItemLeft sortByRoomViewClass">
          <div class="rateInfoArea">
            <span class="rateCategory roomOrder">Club InterContinental Rate</span>
            <input name="originalRateCategory" value="Club InterContinental Rate" type="hidden">
            <ul>
              <div>
                <li>Non-Refundable Rate</li>
              </div>
              <div>
                <li class="noDeposit ">No deposit required </li>
              </div>
              <div>
                <li class="BREAKFAST_TWO_GUESTS">Breakfast included</li>
              </div>
              <div>
                <li>
                  <span class="spotlight_expandedDetails_link" id="non_upsell">
                  <input name="originalRateCode" value="KVUGIGCLB" type="hidden">
                  <a name="View Rate Details" title="View Rate Details" id="KVUGIGCLB" class="viewRateDetails">View Rate Details</a>
                  <span class="loading">
                  <img src="//prodcache.internal.ihg.com/content/dam/etc/media_library/branded/ic/cn/loading/0002.gif" alt="Loading" title="Loading" width="16" height="16">
                  </span>
                  </span>
                </li>
              </div>
            </ul>
          </div>
        </div>
        <div class="rateTypeLineItemRight">
          <div class="priceInfoArea">
            <span class="price">
            <span>‎</span>
            <span class="notranslate">
            <span class="cc_lrm">‎</span><span class="curSym cc_symbol">$</span>&nbsp;<span class="amt cc_number">170.00</span>&nbsp;<span class="curCode cc_code">USD</span><span class="hide cc_source">170.0</span>
            </span>
            </span>
            <!-- For brazilian hotels the extra person charge should be displayed when the number of Adult guest is reached in at least one of
              the rooms to reserve, so maxPersonsWithNoCharge = The number of person when the extra charge is applied minus one multipled by
              the total of rooms to reserve. If this number is lower than the total of adult guest then the extra person charge must be
              applied, therefore the label should be displayed -->
            <div class="clearingDiv"></div>
            <div class="avgratediv">
              <span class="avgrate">
              Nightly Rate
              </span>
            </div>
          </div>
          <div class="clearingDiv"></div>
          <div class="rateSelectionArea">
            <img class=" roomRatesProcessImage hide" title="Loading indicator small" alt="Processing your request..." src="//prodcache.internal.ihg.com/content/dam/etc/media_library/branded/ic/cn/loading/0002.gif">
            <input class="cssButton bcic v bookThisRoomBaseRate translate" data-slnm-ihg="" title="Select to book this room" value="Book This Room" name="selectedRoom_KVUGIGCLB_1BD_0000_0_0_" type="submit">
          </div>
        </div>
        <div style="clear: both"></div>
        <div class="expandedDetails" style="display: none;">
          <div class="descriptionClose">
            <a id="closeBtn" href="#" class="close" data-slnm-ihg="closeXIconSID"><img src="https://www.ihg.com/hotels/images/close_btn.gif" title="Select to close." alt="Select to close."></a>
          </div>
          <div style="clear: both;">
          </div>
          <div class="expandedDetailsDesc">
          </div>
        </div>
        <div style="clear: both"></div>
      </div>
    </div>
    <div class="viewAllRatesLink">
      <img class=" roomrates_btn_view_additional" alt="Show More Rates" title="Show More Rates" src="//prodcache.internal.ihg.com/content/dam/etc/media_library/branded/cn/images/transparent_1x1.gif" border="0">
      <a title="Show More Rates" href="#">
      Show More Rates
      </a>
    </div>
  </div>
</div>

