<div style="margin: 30px"></div>
<form action="/rooms" onsubmit="return must_type_depart()">
        <div class="w3-row-padding">
          <div class="w3-col m3">
            <label><i class="fa fa-calendar-o"></i> Check In</label>
            <input name='check_in'  class="w3-input w3-border check_in" type="date">
          </div>
          <div class="w3-col m3">
            <label><i class="fa fa-calendar-o"></i> Check Out</label>
            <input name='check_out' class="w3-input w3-border check_out" type="date">
          </div>
          <div class="w3-col m2">
            <label><i class="fa fa-male"></i> Adults</label>
            <input name='adults' class="w3-input w3-border" type="number" placeholder="Adults">
          </div>
          <div class="w3-col m2">
            <label><i class="fa fa-child"></i>Childrens</label>
            <input name='childrens' class="w3-input w3-border" type="number" placeholder="Childrens">
          </div>
          <div class="w3-col m2">
            <label><i class="fa fa-search" ></i> Search</label>
            <button type="submit" class="w3-button w3-block w3-black search_room">Search</button>
          </div>
        </div>
      </form>

<div class="w3-row-padding w3-padding-16">
        <% if @rooms.present? %>
          <% @rooms.each do |room| %>
            <div class="w3-third w3-margin-bottom">
              <img src="<%=room.room_icon.thumb.url%>" alt="Norway" style="width:100%; height: 40%;">
              <div class="w3-container w3-white">
                <h3>Single Room</h3>
                <h6 class="w3-opacity">From $<%=room.price%></h6>
                <p>Single bed</p>
                <p>15m<sup>2</sup></p>
                <p class="w3-large"><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i></p>
                <%=link_to("Chosse Room", "/bookings/new?room_id=#{room.id}&check_in=#{params[:check_in]}&check_out=#{params[:check_out]}&adults=#{params[:adults]}&childrens=#{params[:childrens]}" ,
                class: "w3-button w3-block w3-black w3-margin-bottom" ) %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <script type="text/javascript">
          function must_type_depart(){
        check_in = $('.check_in').val();
        check_out = $('.check_out').val();
        if(check_in == '' && check_out == ''){
          alert('You must fill all check in and check out');
          return false;
        }
        if(check_in == ''){
          alert('You must fill check in');
          return false;
        }
        if(check_out == ''){
          alert('You must fill check out');
          return false;
        }
      }
      </script>