<!-- <div class="container">
  <div class="row">
    <section class="content"> -->
      <% if @rooms.present? %>
        <!-- <div class="col-md-10"> -->
          <!-- <div class="panel panel-default"> -->
            <!-- <div class="panel-body"> -->
              <!-- <div class="pull-right"> -->
              <!-- </div> -->
              <!-- <div class="table-container"> -->
                <table class="table table-filter">
                  <tbody>
                    <%= render partial: "/cms/rooms/room_items", locals: {rooms: @rooms} %>
                  </tbody>
                </table>
                <%= paginate @rooms %>
              <!-- </div> -->
            <!-- </div> -->
          <!-- </div> -->
        <!-- </div> -->
      <% end %>
  <!--   </section>
  </div>
</div>

 -->
 <script type="text/javascript">
   $('.page > a').attr('data-remote', 'true');
 </script>