<form id ="update-bookings" action = "/cms/rooms" method="get" accept-charset="UTF-8" data-remote="true">
  <div class="col-md-10">
    <div class='col-md-3'>
      <div class='col-md-3'>
        <p>Childrens:</p><br>
        <p>Adults:</p><br>
        <p>Status:</p>
      </div>
      <div class="col-md-9">
        <input style='text-align: left;' type="text" name="adults"><br><br>
        <input type="text" name="childrens"><br><br>
        <div class="form-group">
          <select name="status" value="@booking.status" class="form-control">
          <%= options_for_select(ApplicationHelper::BOOKING_STATUS, params[:status])%>
          </select>
          <!-- <input class="form-control pop_status " type="text" placeholder="Status"> -->
        </div>
      </div>
    </div>
    <div class='col-md-4'>
      <div class='col-md-5' style="text-align: right;">
        <p>Check in:</p><br>
        <p>Check out:</p><br>
      </div>
      <div class="col-md-7">
        <input type="date" name="check_in"><br><br>
        <input type="date" name="check_out"><br><br>
        <div>
          <button type='submit' type="button" class="btn btn-primary">Find Booking</button>
        </div>

      </div>
    </div>
  </div>
</form>

<style type="text/css">
  p {
    margin: 0 0 5px;
  }
</style>
