<div class="container">
  <div class="row">
    <section class="content">
      <a href="../cms/rooms/new" class="btn btn-primary">New Room</a>
      <%= render 'form_find_rooms' %>
      <hr>
      <% if @rooms.present? %>
        <div class="col-md-12">
          <div class="suggest_rooms_result">
            <%= render partial: "/cms/rooms/room_items", locals: {rooms: @rooms} %>
          </div>
          <%= paginate @rooms %>
        </div>
      <% end %>
    </section>
  </div>
</div>